<h1>Friend</h1>
<p>Friend List</p>
<table>
  <tr>
    <th>First-Name</th>
    <th>Last-Name</th>
    <th>Nick-Name</th>
    <th>Github Link</th>
  </tr>
  <tr>
    <td>John</td>
    <td>Jona</td>
    <td>Jack</td>
    <td>
      <a href="https://github.com/camt-mmit/2024-01-954447-001-lab02-dom-Daifu-glitch">Lab2</a>
      <a href="https://github.com/camt-mmit/2024-01-954447-001-lab02-dom-Daifu-glitch">Lab3</a>
      <a href="https://github.com/camt-mmit/2024-01-954447-001-lab04-dom-Daifu-glitch">Lab4</a>
    </td>
  </tr>
  <tr>
    <td>Phumtanit</td>
    <td>I don't know</td>
    <td>Poom</td>
    <td>
      <a href="https://github.com/camt-mmit/2024-01-954447-001-lab02-dom-Daifu-glitch">Lab2</a>
      <a href="https://github.com/camt-mmit/2024-01-954447-001-lab02-dom-Daifu-glitch">Lab3</a>
      <a href="https://github.com/camt-mmit/2024-01-954447-001-lab04-dom-Daifu-glitch">Lab4</a>
    </td>
  </tr>
</table>
