<div class="status">
  <h2>Status</h2>
  <table>
    <tr>
      <td><strong>Current Time</strong></td>
      <td>:: {{ currentTime }}</td>
    </tr>
    <tr>
      <td><strong>User Agent</strong></td>
      <td>:: {{ userAgent }}</td>
    </tr>
    <tr>
      <td><strong>Languages</strong></td>
      <td>:: {{ languages }}</td>
    </tr>
    <tr>
      <td><strong>Is Cookie Enabled?</strong></td>
      <td>:: {{ cookiesEnabled }}</td>
    </tr>
    <tr>
      <td><strong>Logical Processors</strong></td>
      <td>:: {{ logicalProcessors }}</td>
    </tr>
    <tr>
      <td><strong>Max Touch Points</strong></td>
      <td>:: {{ maxTouchPoints }}</td>
    </tr>
  </table>
</div>
