:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: min(800px, 100%);
  margin-left: auto;
  margin-right: auto;
}

a {
  color: blue;
  text-decoration: none;
  border: 1px solid blue;
  border-radius: 10px;
  display: inline-block;
  padding: 5px 15px;
  text-align: center;
  margin: 5px 10px; /* Adds space between links */
  box-sizing: border-box; /* Ensures padding doesn't add to width */
  width: calc(100% / 4 - 20px); /* Makes links evenly spaced in the row */
  }

a.st-active {
  background-color: silver;
  }


.container {
    text-align: center;
    font-family: Arial, sans-serif;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    .buttons {
      margin-bottom: 2rem;

      button {
        margin: 0 5px;
        padding: 10px 20px;
        border: 1px solid blue;
        background: transparent;
        color: blue;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
          background-color: blue;
          color: white;
        }
      }
    }
  }
