<h1>My Profile</h1>
<h2>Basic information</h2>
  <ul>
    <li><b>Name</b>: Warapakorn Aonpiam</li>
    <li><b>Gender</b>: Male</li>
    <li><b>Age</b>: 20</li>
  </ul>
<h2>Auto Biograhpy</h2>
  <p>
    I'm from Thailand XD XD XD XD
  </p>
<h2>Github Page</h2>
<a href="https://github.com/camt-mmit/2024-01-954447-001-lab02-dom-Daifu-glitch">Lab2</a>
<a href="https://github.com/camt-mmit/2024-01-954447-001-lab02-dom-Daifu-glitch">Lab3</a>
<a href="https://github.com/camt-mmit/2024-01-954447-001-lab04-dom-Daifu-glitch">Lab4</a>
